.form-login{
	background-color: white;
     padding: 0.5% 2% 3% 2%;
    margin: 5% 35%;
    border-radius: 5px;
    position: relative;
    }
.ver-agua{
	    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3.2% 3%;
    background-color: #68dff0;
    border-radius: 6px 6px 0px 0px;
    color: white;
    text-transform: uppercase;
}
.login-wrap{
	    margin-top: 126px;
}